[submodule ".submodules/falkor-makefile"]
	path = .submodules/falkor-makefile
	url = https://github.com/Falkor/Makefiles
[submodule ".submodules/Makefiles"]
	path = .submodules/Makefiles
	url = https://github.com/Falkor/Makefiles
